<h1>Salesforce Leads</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Company</th>
    <th>Phone</th>
    <th>Email</th>
    <th>State</th>
  </tr>
  {{#each records}}
    <tr>
      <td>{{get 'id'}}</td>
      <td>{{get 'FirstName'}}</td>
      <td>{{get 'LastName'}}</td>
      <td>{{get 'Company'}}</td>
      <td>{{get 'Phone'}}</td>
      <td>{{get 'Email'}}</td>
      <td>{{get 'State'}}</td>
    </tr>
  {{/each}}
</table>
